.slider-wrapper.theme-default
  .ribbon
  .nivoSlider{:id => "slider"}
    -Dir.foreach(Rails.root.join('app', 'assets', 'gallery').to_s) do |x|
      -if x!='.' && x!='..'
        %img{:src => [asset_path "gallery/" + x], :alt => ''}
  .nivo-html-caption{:id => "htmlcaption"}
    %strong
      This
    is an example of a 
    %em
      HTML
    caption with 
    %a{:href => "#"}
      a link
%h1=@title
%p=@content

:javascript
  $(window).load(function() {
        $('#slider').nivoSlider();
  });