.slider-wrapper.theme-default
  .ribbon
  .nivoSlider{:id => "slider"}
    -Dir.foreach(Rails.root.join('app', 'assets', 'gallery').to_s) do |x|
      -if x!='.' && x!='..'
        %a{:href => [root_path]}
          %img{:src => [asset_path "gallery/" + x], :alt => '', :title => '#htmlcaption'}
  .nivo-html-caption{:id => "htmlcaption"}
    %p
      НАНОКЕРАМИКА
    %p
      Совершенная защита кузова автомобиля
    %a{:href => "#"}
      подробнее >>
%h1=@title
%p=@content

:javascript
  $(window).load(function() {
        $('#slider').nivoSlider();
  });