= javascript_include_tag "http://api-maps.yandex.ru/1.1/index.xml?key=AAQQUk8BAAAAgcF2LAIAr-6uJFLhTOvSjRx9Huf_s3fX04sAAAAAAAAAAACfPMhPF9E9vBmeEV8dXqXsm5vAVA=="
:javascript
  YMaps.jQuery(function () {
            // Создание экземпляра карты и его привязка к созданному контейнеру
            var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);

            // Установка для карты ее центра и масштаба
            map.setCenter(new YMaps.GeoPoint(37.438561, 55.709579), 13);

            // Добавление меток на карту
            var placemark = new YMaps.Placemark(new YMaps.GeoPoint(37.438561, 55.709579));
            placemark.name = "АвтоСпейс";
            placemark.description = "ул. Верейская, 29, стр. 34";
            map.addOverlay(placemark);

            // Открываем балун
            placemark.openBalloon();
            map.addControl(new YMaps.TypeControl());
            map.addControl(new YMaps.ToolBar());
            map.addControl(new YMaps.Zoom());
            map.addControl(new YMaps.ScaleLine());
   });
   

#info
  %span Контакты
  %p Адрес: &nbsp;г.Москва, ул. Верейская, 29
  %p Телефон: &nbsp;+7 (495) 644-61-63, +7 (916) 310-19-84
  %p Email: avtospace@yandex.ru

#YMapsID

.cont_title
  Форма обратной связи
=render 'form'

:javascript
  $('form#ajaxform').bind('ajax:beforeSend', function() {
     $('#btn').attr('disabled', 'disabled');
     $('#btn').css('cursor', 'default');
     $('#btn').val('Отправляется...');
   });
  $('form#ajaxform').bind('ajax:complete', function() { 
    $().toastmessage('showSuccessToast', 'Сообщение успешно отправлено.');
    $('#btn').css('cursor', 'pointer');
    $('#btn').removeAttr("disabled"); 
    $('#btn').val('Отправить');

    $('#message_text').val('');
  });
