%h1 Компания АвтоСпейс
%p Уважаемый посетитель!

%p Сегодня на российском рынке детейлинг- центров  представлен большой выбор услуг  в разных ценовых группах. Отличительная черта компании ООО «Автоcпейс»  - качество предоставляемых услуг.

%p Наша компания  специализируется на предоставлении полного ассортимента услуг по химчистке, полировке, химической металлизации элементов автомобиля  и  нанесению защитной полимерной керамики на кузов авто. Специалисты нашего детейлинг- центра оперативно и квалифицированно проведут все необходимые работы для придания  Вашему автомобилю внешнего вида, сопоставимого с новым, а зачастую и более привлекательного, чем новый.

%p Чтобы выдерживать высокую планку качества предоставляемых услуг, установленную для себя компанией, сотрудники «Автоcпейс» постоянно обучаются, повышают квалификацию на специальных семинарах и курсах, организуемых представителями известных производителей расходных материалов и оборудования для детейлинг услуг.

%p Сотрудники компании, расширяя границы возможностей, делают все для того, чтобы каждый клиент реально ощутил  постоянное улучшение в области качества  предоставляемых услуг. Никакая оценка нашей работы не может сравниться с той, которую нам могут дать наши клиенты. Лучшее подтверждение этому – рост количества постоянных клиентов, которым мы искренне благодарны и которыми дорожим.

%p Приезжайте к нам и мы постараемся для Вас.

%p С уважением, Генеральный директор ООО «Автоспейс» Юрий Белоцерковский.</p>
