<div id="galleria">
          <a href="/photos/01.jpg" >
            	<img 
            	     src="/photos/01_t.jpg" >
        	</a>
					<a href="/photos/02.jpg" >
            	<img 
            	     src="/photos/02_t.jpg" >
        	</a>
				<a href="/photos/03.jpg" >
            	<img 
            	     src="/photos/03_t.jpg" >
        	</a>
<a href="/photos/04.jpg" >
            	<img 
            	     src="/photos/04_t.jpg" >
        	</a>
<a href="/photos/05.jpg" >
            	<img 
            	     src="/photos/05_t.jpg" >
        	</a>
<a href="/photos/06.jpg" >
            	<img 
            	     src="/photos/06_t.jpg" >
        	</a>
<a href=  "/photos/07.jpg" >
            	<img 
            	     src=  "/photos/07_t.jpg" >
        	</a>
<a href=  "/photos/08.jpg" >
            	<img 
            	     src=  "/photos/08_t.jpg" >
        	</a>
<a href=  "/photos/09.jpg" >
            	<img 
            	     src=  "/photos/09_t.jpg" >
        	</a>
<a href=  "/photos/10.jpg" >
            	<img 
            	     src=  "/photos/10_t.jpg" >
        	</a>
<a href=  "/photos/11.jpg" >
            	<img 
            	     src=  "/photos/11_t.jpg" >
        	</a>
<a href=  "/photos/12.jpg" >
            	<img 
            	     src=  "/photos/12_t.jpg" >
        	</a>
<a href=  "/photos/13.jpg" >
            	<img 
            	     src=  "/photos/13_t.jpg" >
        	</a>
<a href=  "/photos/14.jpg" >
            	<img 
            	     src  /photos/14_t.jpg" >
        	</a>
</div>