// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap.min.css";
@import "jquery.toastmessage.css";

#YMapsID{
  height: 400px;
  color: black;
  float: right;
  width: 50%;
}

#info{
  float: left;
  width: 50%;
  span{
    font-size: 1.5em;
  }
}

.cont_title{
  font-size: 1.5em;
}

#ajaxform{
  width: 450px;
  fieldset{ 
    border: none;
    width: 100%;
    textarea{
      border: none;
      overflow-y: hidden;
      resize: none;
      width: 100%;
    }
    abbr{
      display: none;
    }
#reset_button{
margin-top: 10px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
background:#2db9fa; 
background: -moz-linear-gradient(top, #2db9fa 0%, #48b3e8 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2db9fa), color-stop(100%,#48b3e8));;
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db9fa', endColorstr='#48b3e8',GradientType=0 );
border:1px solid black;
box-shadow:0 1px 3px rgba(0,0,0,0.6);
-moz-box-shadow:0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.6);
text-shadow:0 -1px 1px rgba(0,0,0,0.3);
color:#FFFFFF;
padding:7px;
font-size:18px;
cursor:pointer;
width:200px;
height:45px;
text-align:center;
display:block;
float: left;
margin-left: 0px;
}
#btn{
float:right;
margin-top: 10px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
background:#2db9fa; 
background: -moz-linear-gradient(top, #2db9fa 0%, #48b3e8 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2db9fa), color-stop(100%,#48b3e8));;
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db9fa', endColorstr='#48b3e8',GradientType=0 );
border:1px solid black;
box-shadow:0 1px 3px rgba(0,0,0,0.6);
-moz-box-shadow:0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.6);
text-shadow:0 -1px 1px rgba(0,0,0,0.3);
color:#FFFFFF;
padding:7px;
font-size:18px;
cursor:pointer;
width:200px;
height:45px;
text-align:center;
display:block;
}
  }
  padding-bottom: 50px;
}

#message_name{
  float: right;
  margin-right: 230px;
}

#message_email{
  float: right;
  margin-right: 230px;
}

