// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic&subset=latin,cyrillic);
@font-face {
    font-family: 'Maassslicer3DRegular';
    src: url('maass_slicer_italic_3d-webfont.eot');
    src: url('maass_slicer_italic_3d-webfont.eot?#iefix') format('embedded-opentype'),
         url('maass_slicer_italic_3d-webfont.woff') format('woff'),
         url('maass_slicer_italic_3d-webfont.ttf') format('truetype'),
         url('maass_slicer_italic_3d-webfont.svg#Maassslicer3DRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MaassslicerRegular';
    src: url('maass_slicer_italic-webfont.eot');
    src: url('maass_slicer_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('maass_slicer_italic-webfont.woff') format('woff'),
         url('maass_slicer_italic-webfont.ttf') format('truetype'),
         url('maass_slicer_italic-webfont.svg#MaassslicerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('opensans-italic-webfont.eot');
    src: url('opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-italic-webfont.woff') format('woff'),
         url('opensans-italic-webfont.ttf') format('truetype'),
         url('opensans-italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-semibold-webfont.eot');
    src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold-webfont.woff') format('woff'),
         url('opensans-semibold-webfont.ttf') format('truetype'),
         url('opensans-semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-semibolditalic-webfont.eot');
    src: url('opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibolditalic-webfont.woff') format('woff'),
         url('opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('opensans-semibolditalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

$light_yellow: #d7ceb2;
$dark_yellow: #d0a825;
$light_blue: #40627c;
$dark_blue: #26393d;
$light: #fffae4;
$gray: #161616;
$black: #101010;
$width: 1056px;

@mixin op($val) { 
  opacity: $val;
  -moz-opacity: $val;
  filter: alpha(opacity=($val*100));
}

@mixin border_radius($val){
	-webkit-border-radius: $val;
	-moz-border-radius: $val;
	-o-border-radius: $val;
	-ms-border-radius: $val;
	-khtml-border-radius: $val;
	border-radius: $val;
}

body{
  background-color: $gray;
  margin: 0px 0px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

#logo{
  margin: 0 auto;
  margin-top: 30px;
}

#logo img{
  float: right;
  height: 100px;
  padding-top: 15px;
}

#as_logo{
	width: 80px;	
}

#name{
  display: inline;
  float: left;
  font-family: 'Maassslicer3DRegular';
  #as_logo{
  	margin-left: 30px;
  	background: $light_yellow;
  	@include border_radius(5px);
  }
  a{
    color: #DFDFDF;
    font-size: 7em;
    text-decoration: none;
    &:hover{
      color: #666666;
    }
    
    &:after{
      color: #dbdbdb;
    }
    
    &:visited{
      text-decoration: none;
    }
    
    &:active{
      text-decoration: none;
    }
  }
}

#upper{
  background-color: $light_blue;
  height: 30px;  
  padding: 0px 0px 0px 0px;
}

#content{
  width: $width;
  margin: 0 auto;
  margin-top: 50px;
}

#head {
  width: $width;
  margin: 0 auto;
  height: 125px;
}

#menu {
  width: $width;
  margin: 0 auto;
  height: 20px;
    
  ul{
    list-style: none;
    padding-left: 0px;
    
    li{
      display: inline;
      font-size: 1.3em;
      a{      
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        text-shadow:1px 1px 0px #ffffff;
        background-color:#ededed;
        border:1px solid #dcdcdc;
        display:inline-block;
        color:#777777;
        padding:6px 24px;
        color: #777777;
        text-decoration: none;
        @include op(0.85);
        &:hover{
          background-color:#dfdfdf;
          @include op(1);
        }
        &:active{
          position:relative;
          top:1px;
        }
        &.selected{
          text-shadow: 1px 1px 0px lighten($light_blue, 10%);
          background-color:$light_blue;
          color: #dfdfdf;
        }
      }
    }
  }
}

#footer{
  width: $width;
  margin: 0 auto;
  height: 50px;
  #menu_footer{
    float: left;
    ul{
      list-style: none;
      margin: 0 auto;
      padding-left: 0px;
      li{
        display: inline;
        padding-right: 15px;
        a{
          text-decoration: none;
          color: #FFFFFF;
          @include op(0.4);
          &:hover{
            @include op(1);
          }
        }
      }
    }
  }
  #copyright{
    float:right;
    a{
      @include op(0.4);
      text-decoration: none;
      color: #FFFFFF;
      &:hover{
        @include op(1);
      }
    }
  }
}

