// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light_yellow: #d7ceb2;
$dark_yellow: #d0a825;
$light_blue: #40627c;
$dark_blue: #26393d;
$light: #fffae4;
$gray: #161616;
$black: #101010;

body{
  background-color: $gray;  
  margin: 0px 0px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

#logo{
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
}

#logo img{
  float: right;
}

#name{
  font-family: 'Play', sans-serif;
  float: left;
  a{
    color: $light_yellow;
    font-size: 7em;
    text-decoration: none;
    text-shadow: 0px 2px 3px #666;

    &:hover{
      text-decoration: none;
      color: $light_yellow; 
    }
    
    &:after{
      color: #dbdbdb;  
    }
    
    &:visited{
      text-decoration: none;
    }
    
    &:active{
      text-decoration: none;
    }
  }
}

#upper{
  background-color: $light_blue;
  height: 30px;  
  padding: 0px 0px 0px 0px;
}

#content{
  width: 75%;
  margin: 0 auto;
}

#head {
  width: 75%;
  margin: 0 auto;
  height: 175px;
}