// Place all the styles related to the price controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap.min.css";

#calcform{
  #field{
    border: none;
    width: 100%;
    .field{
      display: inline-block; 
    }
  }
}

#list{
  font-size: 10px;
  border: 2px white solid;
}

#list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
  color: black;
  background-color: #F5F5F5;	
}

.rowinfo{
	display: inline-block;
  width: 100%;
  .span7{
    float:left;
  }
  .span8{
    float:right;
    
  }
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('/assets/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/assets/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/assets/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/assets/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/assets/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

div#pricelist_length.dataTables_length label{
	display: inline;
  width:500px;
  margin-top:0px;
}

div.dataTables_paginate.paging_bootstrap.pagination{
	float: right;
  height: auto;
  ul{
      li{
      	background-color: #F5F5F5;
  		}
      li.active{
      	a{
				  color: black;
				}
      }
      a{
         color:white;
         &:hover{
				   color: black;
         }
         &.active{
				   color: black;
         }
      }
	}
}

p{
  a{
		color: #FBFF8C;
		font-style: italic;
		&:hover{
			
		}
		&:visited{
			color: #FBFF8C;
		}
	}
}